[Desktop Entry]
Version=1.0
Type=Link
Name=rede-social-cristiano
Comment=
Icon=user-bookmarks
URL=https://github.com/cristianoronaldoo/rede-social-cristiano/tree/main/rede-social-cristiano
